.wp-block-buttons {
	align-items: center;
}

// ── SETUP BOTTONI ───────────────────────────────────────────────────────────────

%cta-reset {
    margin: 0;
    overflow: visible;
    padding: 0;
    background: transparent;
    color: inherit;
    border: 0 none;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
}

%cta-base {
    @extend %cta-reset;
	font-family: var(--wp--preset--font-family--display);
	font-size: var(--wp--preset--font-size--md);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	line-height: 1;
	text-decoration: none;
}

%cta-rounded {
	@extend %cta-base;
	display: inline-flex;
	align-items: center;
	padding: 1.2rem 3.2rem;
	border: 2px solid currentColor;
	border-radius: var(--wp--custom--radius--full);
}

%cta-fill {
	@extend %cta-rounded;
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--primary);
	border-color: var(--wp--preset--color--primary);
	&.has-secondary-background-color {
		background-color: var(--wp--preset--color--secondary);
		border-color: var(--wp--preset--color--secondary);
	}
}

%cta-outline {
	@extend %cta-rounded;
	background: transparent;
	color: var(--wp--preset--color--primary);
	&.has-secondary-color {
		color: var(--wp--preset--color--secondary);
	}
}

%cta-text-link {
	@extend %cta-base;
	&::before,
	&::after {
		content: "–";
		display: inline-block;
	}
}

/* APPLICAZIONI */

.wp-block-button__link {
	@extend %cta-base;
}

.wp-block-button:not([class*="is-style"]) .wp-block-button__link,
.wp-block-button.is-style-fill .wp-block-button__link {
	@extend %cta-fill;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	@extend %cta-outline;
}

.wp-block-button.is-style-text-link .wp-block-button__link {
	@extend %cta-text-link;
}
