.wp-block-image {
	img {
		border-radius: var(--wp--custom--radius--md);
	}
	figcaption {
		margin-top: 0.8rem;
		font-weight: 500;
		font-size: var(--wp--preset--font-size--xs);
		color: var(--wp--preset--color--ink-light);
		&::before {
			content: '— ';
		}
	}
}