// Footer lomais — verde con 3 colonne nav
// Struttura in parts/footer.html

footer.wp-block-template-part {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--white);
  border-radius: var(--wp--custom--radius--md) var(--wp--custom--radius--md) 0 0;
  overflow: hidden;
}

.site-footer__inner {
  padding-inline: 8.0rem;
  padding-block: 4.0rem;
  max-width: var(--wp--style--global--wide-size);
  margin-inline: auto;
}
